* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
p{
    color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}